
#kt_customers_table th {
    vertical-align: top;
}

.datalist-container {
    background: #EDB749;
    max-height: 300px;
    position: absolute;
    overflow: auto;
    display: none;
    width: 180px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.datalist-container div {
    color: #252F48;
    border-bottom: 1px gainsboro dotted !important;
    font-size: 11px;
    width: 98%;
    padding: 4px;
    cursor: pointer;
    margin: 3px;
}

.datalist-container div:hover {
    color: white;
    font-weight: bold;
}

.green-btn {
    background: greenyellow !important;
}

.in-filter-container {
    z-index: 105;
    position: absolute;
    margin: 3px 0px 0px 0px;
}

.filters-blocks {
    display: flex !important; border: 0px gainsboro solid;
    height: 35px !important;
}

