
<div style="border: 0px red solid; width: 40px; text-align: center !important; margin-left: 0px;">

    <div class="card" style="margin: 0px !important; padding: 0px !important;">
        <div class="card-body p-0" style="margin: 0px !important; padding: 0px !important;">
            <a href="#" class="btn btn-primary er fs-6 px-1 py-1" :id="'btn-' + fname"
                data-bs-toggle="modal" data-bs-target="#kt_modal_new_address" style="height: 32px; width: 32px">
                <img src="https://21090.aqq.ru/GLOBAL-ASSETS/metronic/assets/media/icons/duotone/General/Attachment1.svg"
                     style="background: white"/>
            </a>
    </div></div>

    <!--begin::Modal -->
    <div class="modal fade" id="kt_modal_new_address" tabIndex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <div class="modal-content">
                <form class="form" action="#" id="kt_modal_new_address_form">

                    <!--begin::Modal header-->
                    <div class="modal-header" id="kt_modal_new_address_header">
                        <h2> Расширенный фильтр для {{title}} </h2>
                        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">

                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                       fill="#000000"><rect fill="#000000" x="0" y="7" width="16" height="2" rx="1"/>
                                        <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1"/>
                                    </g>
                                </svg>
                            </span>

                        </div>
                    </div>
                    <!--end::Modal header-->

                    <!--begin::Modal body-->
                    <div class="modal-body py-10 px-lg-17">
                        <div class="scroll-y me-n7 pe-7" id="kt_modal_new_address_scroll"
                             data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                             data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_new_address_header"
                             data-kt-scroll-wrappers="#kt_modal_new_address_scroll" data-kt-scroll-offset="300px" >

                            <div class="row1 mb-5" style="margin:0px !important; padding: 0px !important;">
                                <div class="col-md-12 fv-row">
                                  <h3>Значение или диапазон значений</h3>
                                </div>
                            </div>

                            <!--begin::Input group-->
                            <div class="row mb-5">

                                <template v-for="(item) in list" >

                                    <div class="col-md-6 fv-row">
                                        <label class="required1 fs-5 fw-bold mb-2"> С </label>
                                        <input type="text" class="form-control form-control-solid" placeholder="" name="first-name"/>
                                    </div>

                                    <div class="col-md-6 fv-row">
                                        <label class="required1 fs-5 fw-bold mb-2"> По </label>
                                        <input type="text" class="form-control form-control-solid" placeholder="" name="last-name"/>
                                    </div>

                                </template>

                            </div>
                            <!--end::Input group-->

                        </div>
                    </div>
                    <!--end::Modal body-->

                    <!--begin::Modal footer-->
                    <div class="modal-footer flex-center">

                        <button @click.prevent="addItem();" type="button" class="btn btn-white me-3"> + </button>

                        <button @click.prevent="emitCancel()" data-bs-dismiss="modal" type="button"  class="btn btn-white me-3"> Отмена </button>

                        <button @click.prevent="emitClear" type="reset"  class="btn btn-white me-3"> Очистить </button>

                        <button @click.prevent="emitOk()" data-bs-dismiss="modal"
                                type="submit" id="kt_modal_new_address_submit" class="btn btn-primary">
                                <span class="indicator-label"> OK </span>
                        </button>

                    </div>
                    <!--end::Modal footer-->

                </form>
            </div>
        </div>
    </div>
    <!--end::Modal -->

</div>

