
<div id="kt_content_container" class="container-fluid">

    <div class="card">

        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
            <div class="card-title">
                <!--begin:: Поиск -->
                <div class="d-flex align-items-center position-relative my-1">

                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                        <svg xmlns="http://www.w3.org/2000/svg"  width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                      fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                      fill="#000000" fill-rule="nonzero"></path>
                            </g>
                        </svg>
                    </span>

                    <input type="text" data-kt-customer-table-filter="search"
                           class="form-control form-control-solid w-250px ps-15" placeholder="Search ...">
                </div>
                <!--end::Поиск -->

                <div  style="padding: 4px; font-size: 11px; margin-left: 10px; display: flex">

                    <span class="badge badge-light-success fs-base" >
                        <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1">
                            <span class="path1"></span><span class="path2"></span>
                        </i>
                        Кол. {{itemsCount}} / {{pageCount}}
                    </span>

                    <div class="form-check form-check-custom form-check-solid" style="margin-left: 5px;">
                        <span class="badge badge-light-success fs-base">
<!--                            <input v-model="liveSearchState" class="form-check-input" type="checkbox" id="flexCheckDefault11"/>-->
<!--                            <label class="form-check-label" for="flexCheckDefault11" style="padding-top: 2px">-->
<!--                                Живой поиск-->
<!--                            </label>-->
                        </span>
<!--                        <pre>{{form}}</pre>-->
<!--                        <pre>{{sqlTest}}</pre>-->
                    </div>

                </div>

            </div>

            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                <div class="d-flex justify-content-end" >

                    <!--begin::Очистить фильтры -->
                    <button @click="clearAllFilters()" type="button" class="btn btn-light-primary me-3" >
                        <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect>
                                    <path d="M5,4 L19,4 C19.2761424,4 19.5,4.22385763 19.5,4.5 C19.5,4.60818511 19.4649111,4.71345191 19.4,4.8 L14,12 L14,20.190983 C14,20.4671254 13.7761424,20.690983 13.5,20.690983 C13.4223775,20.690983 13.3458209,20.6729105 13.2763932,20.6381966 L10,19 L10,12 L4.6,4.8 C4.43431458,4.5790861 4.4790861,4.26568542 4.7,4.1 C4.78654809,4.03508894 4.89181489,4 5,4 Z"
                                          fill="#000000"></path>
                                </g>
                            </svg> Очистить все фильтры
                        </span>
                    </button>
                    <!--end::Очистить фильтры -->

                    <!--begin::Add customer--
                    <button @click="getMaterialItems()" type="button" class="btn btn-primary" >
                        Получить отчет
                    </button>
                    --end::Add customer-->

                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Card toolbar-->
        </div>

        <!--begin::Card body-->
        <div class="card-body pt-0">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="table-responsive">
                    <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">

                        <thead>

                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0 car-table-tr" role="row">

                            <th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" style="width: 25px;">
                                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                    <input class="form-check-input" type="checkbox" value="1">
                                </div>
                            </th>

                            <th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" style="width: 50px;">
                                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                    ID
                                </div>
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0"  rowspan="1" colspan="1"
                                style="width: 230px;"> Марка
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0" rowspan="1" colspan="1"
                                style="width:220px;"> Модель
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0"  rowspan="1" colspan="1"
                                style="width: 230px;"> Поколение
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0" rowspan="1" colspan="1"
                                style="width:220px; ">Модификация
                            </th>

                            <th class="text-end min-w-125px sorting_disabled" rowspan="1" colspan="1"
                                style="width: 150px;"> Цена
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0"  rowspan="1" colspan="1"
                                style="width:180px;"> Дата
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0" rowspan="1" colspan="1"
                                style="width: 128.425px;"> Год
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0"  rowspan="1" colspan="1"
                                style="width: 134.35px;"> Кузов
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0"  rowspan="1"
                                colspan="1"
                                style="width:180px;"> Трансмиссия
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0"  rowspan="1" colspan="1"
                                style="width: 128.425px;"> Привод
                            </th>

                            <th class="min-w-125px sorting" tabindex="0"  rowspan="1" colspan="1"
                                style="width: 134.35px;"> Мощность
                            </th>

                            <th class="min-w-125px sorting_disabled" tabindex="0" rowspan="1" colspan="1"
                                style="width: 134.35px;"> Объем
                            </th>

                            <th class="text-end min-w-70px sorting_disabled" rowspan="1" colspan="1"
                                aria-label="Actions" style="width: 100px;"> Тип двигателя
                            </th>

                        </tr>

                        </thead>
                        <!--end::Table head-->

                        <!--begin::Table body-->
                        <tbody class="fw-bold text-gray-600">

                        <tr class="odd">

                            <td></td> <!--- CHECKBOX--->

                            <!--- ID --->
                            <td>
                                <div>
                                    <car-filter field="car.id" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style=""></div>

                            </td>

                            <!--- Марка --->
                            <td>

                                <car-filter title="марка" field="mark.name"
                                            @set_filter="setFilter"></car-filter>

                                <div class="filters-blocks" style="">

                                    <div><in-filter
                                            title="Марка"
                                            table="avc_marks" field="name"
                                            form="form.in" field_name="mark.name"
                                            @in_set_filter="inSetFilter"
                                    /></div>

                                    <div><template v-if="form.sort['mark.name'] == 'DESC'">
                                            <a @click.prevent="form.sort['mark.name'] = 'ASC'; getCarItems();" href="#"
                                               class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                  <span  class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM13 13.4V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V13.4H13Z" fill="currentColor"/>
                                                      <path opacity="0.3" d="M7 13.4H17L12.7 17.7C12.3 18.1 11.7 18.1 11.3 17.7L7 13.4Z" fill="currentColor"/>
                                                    </svg>
                                                  </span>
                                            </a>
                                        </template><template v-else >
                                            <a @click.prevent="form.sort['mark.name'] = 'DESC'; getCarItems();" href="#"
                                               class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                   <span @click="form.sort['mark.name'] = 'DESC'; getCarItems();" class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM11 6.59998V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V6.59998H11Z" fill="currentColor"/>
                                                        <path opacity="0.3" d="M7 6.59999H17L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L7 6.59999Z" fill="currentColor"/>
                                                      </svg>
                                                   </span>
                                            </a>
                                    </template></div>

                                </div>

                            </td>

                            <!--- Модель  --->
                            <td>

                                <div class="" >
                                    <car-filter title="модель" field="model.name" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style="">

                                    <div><in-filter
                                            title="Модель"
                                            table="avc_models" field="name"
                                            form="form.in" field_name="model.name"
                                            @in_set_filter="inSetFilter"
                                    /></div>

                                    <div><template v-if="form.sort['model.name'] == 'DESC'">
                                        <a @click.prevent="form.sort['model.name'] = 'ASC'; getCarItems();" href="#"
                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                  <span  class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM13 13.4V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V13.4H13Z" fill="currentColor"/>
                                                      <path opacity="0.3" d="M7 13.4H17L12.7 17.7C12.3 18.1 11.7 18.1 11.3 17.7L7 13.4Z" fill="currentColor"/>
                                                    </svg>
                                                  </span>
                                        </a>
                                    </template><template v-else >
                                        <a @click.prevent="form.sort['model.name'] = 'DESC'; getCarItems();" href="#"
                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                   <span @click="form.sort['model.name'] = 'DESC'; getCarItems();" class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM11 6.59998V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V6.59998H11Z" fill="currentColor"/>
                                                        <path opacity="0.3" d="M7 6.59999H17L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L7 6.59999Z" fill="currentColor"/>
                                                      </svg>
                                                   </span>
                                        </a>
                                    </template></div>

                                </div>

                            </td>

                            <!--- поколение  --->
                            <td>
                                <div>
                                    <car-filter title="поколение" field="generation.name" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style="">

                                    <div><in-filter
                                            title="Поколение"
                                            table="avc_generations" field="name"
                                            form="form.in" field_name="generation.name"
                                            @in_set_filter="inSetFilter"
                                    /></div>

                                    <div><template v-if="form.sort['generation.name'] == 'DESC'">
                                        <a @click.prevent="form.sort['generation.name'] = 'ASC'; getCarItems();" href="#"
                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                  <span  class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM13 13.4V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V13.4H13Z" fill="currentColor"/>
                                                      <path opacity="0.3" d="M7 13.4H17L12.7 17.7C12.3 18.1 11.7 18.1 11.3 17.7L7 13.4Z" fill="currentColor"/>
                                                    </svg>
                                                  </span>
                                        </a>
                                    </template><template v-else >
                                        <a @click.prevent="form.sort['generation.name'] = 'DESC'; getCarItems();" href="#"
                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                   <span @click="form.sort['generation.name'] = 'DESC'; getCarItems();" class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM11 6.59998V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V6.59998H11Z" fill="currentColor"/>
                                                        <path opacity="0.3" d="M7 6.59999H17L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L7 6.59999Z" fill="currentColor"/>
                                                      </svg>
                                                   </span>
                                        </a>
                                    </template></div>

                                </div>

                            </td>

                            <!--- модификация  --->
                            <td>
                                <div>
                                    <car-filter title="модификация" field="modification.name" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style="">

                                    <div><in-filter
                                            title="Модификация"
                                            table="avc_modifications" field="name"
                                            form="form.in" field_name="modification.name"
                                            @in_set_filter="inSetFilter"
                                    /></div>

                                </div>
                            </td>

                            <!--- цена --->
                            <td>
                                <div>
                                    <car-filter title="цена" field="car.start_price" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style="">

                                    <div><in-filter
                                            title="Цена"
                                            table="cars" field="start_price"
                                            form="form.in" field_name="car.start_price"
                                            @in_set_filter="inSetFilter"
                                    /></div>

                                    <div><between-filter
                                            title="Цена"
                                            table="cars" field="start_price"
                                            form="form.between" field_name="car.start_price"
                                            @between_filter="betweenFilter"
                                    /></div>

                                    <div><template v-if="form.sort['car.start_price'] == 'DESC'">
                                        <a @click.prevent="form.sort['car.start_price'] = 'ASC'; getCarItems();" href="#"
                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                  <span  class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM13 13.4V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V13.4H13Z" fill="currentColor"/>
                                                      <path opacity="0.3" d="M7 13.4H17L12.7 17.7C12.3 18.1 11.7 18.1 11.3 17.7L7 13.4Z" fill="currentColor"/>
                                                    </svg>
                                                  </span>
                                        </a>
                                    </template><template v-else >
                                        <a @click.prevent="form.sort['car.start_price'] = 'DESC'; getCarItems();" href="#"
                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                   <span @click="form.sort['car.start_price'] = 'DESC'; getCarItems();" class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM11 6.59998V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V6.59998H11Z" fill="currentColor"/>
                                                        <path opacity="0.3" d="M7 6.59999H17L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L7 6.59999Z" fill="currentColor"/>
                                                      </svg>
                                                   </span>
                                        </a>
                                    </template></div>

                                </div>

                            </td>

                            <!--- дата  --->
                            <td>
                                <div>
                                    <car-filter title="дата" field="car.created_at" @set_filter="setFilter"/>
                                </div>
                                <div class="filters-blocks" style="">

<!--                                    <div><template v-if="form.sort['car.created_at'] == 'DESC'">-->
<!--                                        <a @click.prevent="form.sort['car.created_at'] = 'ASC'; getCarItems();" href="#"-->
<!--                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">-->
<!--                                                  <span  class="svg-icon svg-icon-1" style="cursor: pointer;" >-->
<!--                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                      <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM13 13.4V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V13.4H13Z" fill="currentColor"/>-->
<!--                                                      <path opacity="0.3" d="M7 13.4H17L12.7 17.7C12.3 18.1 11.7 18.1 11.3 17.7L7 13.4Z" fill="currentColor"/>-->
<!--                                                    </svg>-->
<!--                                                  </span>-->
<!--                                        </a>-->
<!--                                    </template><template v-else >-->
<!--                                        <a @click.prevent="form.sort['car.created_at'] = 'DESC'; getCarItems();" href="#"-->
<!--                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">-->
<!--                                                   <span @click="form.sort['car.created_at'] = 'DESC'; getCarItems();" class="svg-icon svg-icon-1" style="cursor: pointer;" >-->
<!--                                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                        <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM11 6.59998V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V6.59998H11Z" fill="currentColor"/>-->
<!--                                                        <path opacity="0.3" d="M7 6.59999H17L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L7 6.59999Z" fill="currentColor"/>-->
<!--                                                      </svg>-->
<!--                                                   </span>-->
<!--                                        </a>-->
<!--                                    </template></div>-->

                                </div>

                            </td>

                            <!--- год  --->
                            <td>

                                <div>
                                    <car-filter title="год" field="car.year" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style="">

                                    <div><in-filter
                                            title="Год"
                                            table="cars" field="year"
                                            form="form.in" field_name="car.year"
                                            @in_set_filter="inSetFilter"
                                    /></div>

                                    <div><between-filter
                                            title="Год"
                                            table="cars" field="year"
                                            form="form.between" field_name="car.year"
                                            @between_filter="betweenFilter"
                                    /></div>

                                    <div><template v-if="form.sort['car.year'] == 'DESC'">
                                        <a @click.prevent="form.sort['car.year'] = 'ASC'; getCarItems();" href="#"
                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                  <span  class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM13 13.4V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V13.4H13Z" fill="currentColor"/>
                                                      <path opacity="0.3" d="M7 13.4H17L12.7 17.7C12.3 18.1 11.7 18.1 11.3 17.7L7 13.4Z" fill="currentColor"/>
                                                    </svg>
                                                  </span>
                                        </a>
                                    </template><template v-else >
                                        <a @click.prevent="form.sort['car.year'] = 'DESC'; getCarItems();" href="#"
                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                   <span @click="form.sort['car.year'] = 'DESC'; getCarItems();" class="svg-icon svg-icon-1" style="cursor: pointer;" >
                                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M21 22H3C2.4 22 2 21.6 2 21C2 20.4 2.4 20 3 20H21C21.6 20 22 20.4 22 21C22 21.6 21.6 22 21 22ZM11 6.59998V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V6.59998H11Z" fill="currentColor"/>
                                                        <path opacity="0.3" d="M7 6.59999H17L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L7 6.59999Z" fill="currentColor"/>
                                                      </svg>
                                                   </span>
                                        </a>
                                    </template></div>

                                </div>

                            </td>

                            <!--- кузов --->
                            <td><div>
                                   <car-filter title="кузов" field="modification.body_type" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style=""></div>
                            </td>

                            <!--- трансмиссия --->
                            <td>
                                <div>
                                    <car-filter title="трансмиссия" field="modification.transmission" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style=""></div>
                            </td>

                            <!--- привод --->
                            <td>
                                <div>
                                    <car-filter title="привод" field="modification.drive_type" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style=""></div>
                            </td>

                            <!--- мощность --->
                            <td>
                                <div>
                                    <car-filter title="мощность" field="modification.power" @set_filter="setFilter"/>
                                </div>
                                <div class="filters-blocks" style=""></div>
                            </td>

                            <!--- объем --->
                            <td>
                                <div>
                                   <car-filter title="объем" field="modification.engine_size" @set_filter="setFilter"/>
                                </div>

                                <div class="filters-blocks" style=""></div>
                            </td>

                            <!--- тип двигателя --->
                            <td>
                                <div>
                                    <car-filter title="тип двигателя" field="modification.fuel_type" @set_filter="setFilter"/>
                                </div>


                                <div class="filters-blocks" style=""></div>

                            </td>

                        </tr>


                        <tr  v-for="(item) in carItems" class="odd">

                            <td><div class="form-check form-check-sm form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" value="1">
                            </div></td>

                            <td><div class="text-gray-800 text-hover-primary mb-1">
                                {{item.id}}
                            </div></td>

                            <td><div class="text-gray-800 text-hover-primary mb-1">
                                {{item.mark_name}}
                            </div></td>

                            <td><div href="#" class="text-gray-600 text-hover-primary mb-1">
                                {{item.model_name}}
                            </div></td>

                            <td><div class="text-gray-800 text-hover-primary mb-1">
                                {{item.generation_name}}
                            </div></td>

                            <td><div href="#" class="text-gray-600 text-hover-primary mb-1">
                                {{item.modification_name}}
                            </div></td>

                            <td >{{item.start_price}}</td>

                            <td> {{item.created_at}} </td>

                            <td>{{item.year}}</td>

                            <td >{{item.body_type}}</td>

                            <td> {{item.transmission}} </td>

                            <td>{{item.drive_type}}</td>

                            <td >{{item.power}} </td>

                            <td >{{item.engine_size}}</td>

                            <td class="text-end" >{{item.fuel_type}}</td>

                        </tr>

                        </tbody>
                        <!--end::Table body-->

                    </table>
                </div>
                <div class="row">

                    <div class="col-sm-12 col-md-12 d-flex align-items-center justify-content-center justify-content-md-start">
                        <div class="dataTables_length" id="kt_customers_table_length"><label>
                            <select v-model="form.page.limit"
                                    class="form-select form-select-sm form-select-solid">

                                <option value=6  > 6 </option>
                                <option value=10 >10</option>
                                <option value=25 >25</option>
                                <option value=50 >50</option>
                                <option value=100 >100</option>

                            </select>
                        </label></div>
                    </div>

                    <div class="col-sm-12 col-md-12 d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="dataTables_paginate paging_simple_numbers" id="kt_customers_table_paginate">
                            <ul class="pagination">

                                <li class="paginate_button page-item previous disabled" id="kt_customers_table_previous">
                                    <a @click.prevent="pageNext(1)" href="#" class="page-link"><i class="previous"></i></a>
                                </li>

                                <template v-for="i in pageCount">
                                    <li class="paginate_button page-item">
                                        <a @click.prevent="pageNext(i)" href="#" class="page-link">{{i}}</a>
                                    </li>
                                </template>

                                <li class="paginate_button page-item next" id="kt_customers_table_next">
                                    <a @click.prevent="pageNext(pageCount)" href="#" class="page-link"><i class="next"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Card body -->

    </div>

</div>